## mako

<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%block name="pagetitle">${"Exportar Seguimiento Cursos"}</%block>
<main id="main" aria-label="Content" tabindex="-1" class="static_pages">
    <style>
        table, th, td {
            border: 1px solid black;
        }
        label{
            font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size:1rem;
            font-style:normal;
            line-height:1em
            }
    </style>
    <h1>Exportar Seguimiento Cursos</h1>
    <div style="text-align: center">       
        % if context.get('error', UNDEFINED) == 'error':
            <p id="error" style="color:firebrick; margin-bottom: 15px;">Error al Exportar</p>
        % endif
    </div>
</br>
    
    <section id="id_courses">       
        % if context.get('cursos', UNDEFINED) is not UNDEFINED and len(cursos) > 0 :           
            <div style="text-align: center">                
                <table style="text-align: center;margin-left:auto;margin-right:auto;border: 1;">
                    <thead>
                        <tr>
                            <td>Curso</td>
                            <td>Nombre</td>
                            <td>Acciones</td>                            
                        </tr>
                    </thead>
                    <tbody id="tabla-curso">                        
                    %for curso in cursos:
                    <form method="POST">  
                        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>                         
                        <tr id="${curso[0]}">
                            <td>${curso[0]}<input type="hidden" id="id" name="id" value="${curso[0]}" readonly/></td>
                            <td>${curso[1]}</td> 
                            <td>
                                <input type="submit" style="text-shadow: none; border-color:white; background-color: #0075b4; background-image: none; display:block; margin: auto" value="Exportar">                                                    
                            </td>
                        </tr>
                    </form>
                    %endfor                   
                    </tbody>
                </table>
            </div>            
        % endif           
    </section>    
</main>